<ion-view title="Alarm" id="page2">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.setting()" id="alarm-button7" class="button button-balanced button-block">Add New</a>
    <ion-list id="alarm-list4">
      <ion-item class="item-thumbnail-left" id="alarm-list-item16">
        <img src="img/vRpzF9xQYekslZOqIq0U_FebricolTab100mg.jpg">
        <h2>Febricol Tab 100mg</h2>
        <p>Every 6 hours</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="alarm-list-item17">
        <img src="img/Xnd7xMrzS0qla7F8sFnd_Lysozyme60mg.jpg">
        <h2>Lysozyme 60mg</h2>
        <p>Every 6 hours</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="alarm-list-item18">
        <img src="img/DTWo03oFSgSmlE7VpDuV_Cevit100mg.jpg">
        <h2>Cevit 100mg</h2>
        <p>Every 4 hours</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="alarm-list-item19">
        <img src="img/RNTna0AzSCyFhl4FY6dw_EurodiumTab2mg.jpg">
        <h2>Eurodium Tab 2mg</h2>
        <p>Every 4 hours</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>